// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo{
	max-width: 200px;
	max-height: 200px;
	background-color: white;
	margin: 15px;
	border-radius: 25px;
	padding-top: 5px;

}

a:hover{
	text-decoration: none;
}

.encabezado{
	padding: 5px !important;
}

.content-tele{
	padding: 10px;
}

.row-social{
	margin-bottom: 10px;
}

#div_contacto{
	
}

.main_header{
	background-image: url("http://fullhouseprefabricados.com/recursos/img/new-home-1682323_1280.jpg") !important;
	/*background-color: #cccccc;*/
}

.active{
	background-color: #ff9933 !important;
}

html, body{
	/*background-color: #694b02;*/
}

.naranja{
	background-color: orange !important;
}

.naranja a {
	color: black;
}

.navbar{
	margin-bottom: 0px;
}

.social{
	background-color: #ff9933;
	padding: 10px;
	border-radius: 10px;
	color: black;
}

.ico-whatsapp{
	background-color: #00a859;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.ico-facebook{
	background-color: #3b5998;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.ico-ok{
	color: orange;
}

.main_header{
	background-color: rgba(153,153,153,0.4);
}

.encabezado{
	background-color: rgba(153,153,153,0.6);
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.imagen-custom{
	border: rgba(153,153,153,0.4) 0px solid;
	/*border-radius: 0px 0px 5px 5px;*/
	box-shadow: 0px 2px 10px #999;
	margin: 5px;
}

.imagen-galeria{
	/*border: rgba(153,153,153,0.4) 0px solid;*/
	/*border-radius: 0px 0px 5px 5px;*/
	/*box-shadow: 0px 2px 10px #999;*/
	/*margin: 5px;*/
	margin-top: 10px;
	/*max-width: 200PX;*/
	/*max-height: 200px;*/
}

.ficha_tecnica{
	background-color: rgba(153,153,153,0.4);
	height: 100%;
	border-radius: 50px 0px 0px 0px;
	padding: 30px;
}

.proyectos{
	/*background-color: #694b02;*/
}

.container{
	background-color: white;
}

.form-control, .btn{
	border-radius: 0px !important;
}

.enlinea{
	display: inline-block;
}
