html, body{
	/*background-color: #694b02;*/
}

.naranja{
	background-color: orange !important;
}

.naranja a {
	color: black;
}

.navbar{
	margin-bottom: 0px;
}

.social{
	background-color: #ff9933;
	padding: 10px;
	border-radius: 10px;
	color: black;
}

.main_header{
	background-color: rgba(153,153,153,0.4);
}

.encabezado{
	background-color: rgba(153,153,153,0.6);
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.imagen-custom{
	border: rgba(153,153,153,0.4) 5px solid;
	border-radius: 5px 5px;
}

.ficha_tecnica{
	background-color: rgba(153,153,153,0.4);
	height: 100%;
	border-radius: 50px 0px 0px 0px;
	padding: 30px;
}

.proyectos{
	/*background-color: #694b02;*/
}

.container{
	background-color: white;
}